{% extends "base.html" %}
{% block content %}


<p style='margin-top: 0'>
Homeseek – бесплатный сервис для поиска жилья в Москве. Мы автоматически в реальном времени анализируем посты из социальных сетей: извлекаем цену, метро, удаляем дубли и спам, а вы можете отфильтровать только интересные вам объявления.
</p>

<p style='border: 1px solid #5DA271; padding: 10px'>
- Используйте курсор (нажать и потянуть) или два пальца (на тач-устройствах) для масштабирования и перемещения по схеме метро.
<br><br>
- Кнопки "Reset zoom" или "Сброс" вернут вас к исходному масштабу.
<br><br>
- Чтобы выделить станцию, нажимайте на её кружочек, а не название.
<br><br>
- Если на десктопе сузить браузер, то схема станет огромной.
</p>

<p>Каждый день у нас появляется в среднем около 100 новых объявлений. Более подробную статистику можно посмотреть на <a href='/stats'>отдельной странице.</a></p>

<p>
Источники, которые мы анализируем:
{% set groups = filter.get_groups() %}
{% for i in xrange(len(groups)) %}
<a target='_blank' href='{{groups[i].get_url()}}'>{{groups[i].name}}{% if i+1 == len(groups) %}.{% else %},{% end %}</a>&nbsp;
{% end %}
</p>

<p>
Если вы знаете, как нам стать лучше – пишите в <a target="_blank" href="https://www.facebook.com/groups/homeseek/">facebook</a> или <a target="_blank" href="https://github.com/yurap/homeseek">github.</a>
</p>

<p>Удачных поисков!</p>

<div style='padding: 5px'></div>
{% end %}
