<div class="posts" style='border: 1px solid #69C082; padding: 5px 10px; margin-bottom: 10px'>
    <div class="post-description" style='padding: 5px 0'>
         Нет подходящих вариантов? Возможно, они скоро появятся!
         Оставьте свой e-mail, и мы в течение недели будем присылать вам одно письмо в день с новыми объявлениями по этому запросу.
    </div>
    <form class="pure-form" method="post" action="/subscribe">
        <fieldset>
            <input style='display:inline' type="email" id="subscript_email" name='subscript_email' class='price' placeholder='ваш e-mail'>
            <button type="submit" class="pure-button pure-button-primary">Подписаться</button>
        </fieldset>
    </form>
    <div class="post-description" style='padding: 0 0 5px 0'>
        Если у вас уже есть активная подписка, то новая её заменит.
        Почту потребуется подтвердить.
    </div>
</div>
